@use '../abstracts/mixins';

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;

	&__wrap {
		display: flex;
		align-items: center;
		position: relative;
	}
}

.nav-menu-logo {
	position: relative;
	display: flex;
	align-items: center;

	&__img {
		width: 96.55px;
		height: 50.81px;
		padding-left: 20px;
		padding-right: 20px;
		transition: all 0.4s;
	}

	&__img:hover {
		transform: scale(1.04);
	}
}

.nav-menu-list {
	display: flex;

	&__icon {
		width: 40px;
		height: 40px;
		transition: all 0.4s;
	}

	&__icon:hover {
		transform: scale(1.04);
	}

	&__icon--mg {
		margin-right: 20px;
	}
}

.nav-menu-list--hidden {
	display: none;
}

@include mixins.xl {
	.nav-menu {
		justify-content: space-between;
	}

	.nav-menu-logo--mg {
		margin-right: 20px;
	}

	.nav-menu-list--hidden {
		display: flex;
		margin-right: 20px;
	}
}
