@use '../abstracts/variables';
@use '../abstracts/mixins';

.privacy-policy {
	font-size: 14px;
}

.privacy-policy--mg {
	margin-bottom: 19px;
}

.privacy-policy-link {
	transition: all 0.4s;
	color: variables.$color-pink;
	font-size: 14px;
	line-height: 16px;
}

@include mixins.mouse-in-use {
	.privacy-policy-link {
		&:hover {
			color: variables.$color-black;
		}
	}
}
