@use '../abstracts/variables';
@use '../abstracts/mixins';

.title {
	display: flex;
	justify-content: flex-start;
	user-select: none;

	&__text {
		font-size: 24px;
		line-height: 40px;
		letter-spacing: -0.6px;
		font-weight: 800;
	}
}

.title--mg {
	margin-bottom: 24px;
}

.line {
	border-radius: 0 13px 13px 0;
	width: 4px;
	height: 40px;
	background-color: variables.$color-hard-aqua;
}

.line--mg {
	margin-right: 12px;
}

.title-link-wrap {
	display: none;
}

@include mixins.xl {
	.title {
		&__text {
			font-size: 28px;
		}
	}

	.line--mg {
		margin-right: 20px;
	}
}

@include mixins.xxl {
	.line--mg {
		margin-right: 30px;
	}

	.title--mg {
		padding-top: 42px;
	}

	.title {
		&__text--mg {
			margin-right: 449px;
		}
	}

	.title-link-wrap {
		display: flex;
	}

	.title-link {
		&__icons {
			display: flex;
			align-items: center;
		}

		&__icons--mg {
			margin-right: 32px;
		}

		&__icons-link {
			display: flex;
			align-items: center;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.2px;
			transition: all 0.4s;
			color: variables.$color-text;
			&:hover {
				color: variables.$color-hard-gray;
			}
		}

		&__icons-icon {
			width: 40px;
			height: 40px;
			padding-left: 8px;
			transition: all 0.4s;
			filter: drop-shadow(1px 1px 3px variables.$color-black);
			&:hover {
				transform: scale(1.04);
			}
		}
	}
}
