@use '../abstracts/variables';
@use '../abstracts/mixins';

.veil-gradient {
	position: absolute;
	z-index: 10;

	&__right {
		background: linear-gradient(
			270deg,
			variables.$color-background 16.84%,
			variables.$black-gradient 100%
		);
	}

	&__left {
		background: linear-gradient(
			90deg,
			variables.$color-background 16.84%,
			variables.$black-gradient 100%
		);
	}

	&__slide-list-right--size {
		top: 0;
		right: 0;
		width: 25px;
		height: 36px;
	}

	&__slide-list-left--size {
		top: 0;
		left: 0;
		width: 25px;
		height: 36px;
	}

	&__services-right--size {
		top: 0px;
		right: 0;
		width: 45px;
		height: 71px;
	}

	&__services-left--size {
		top: 0px;
		left: 0;
		width: 45px;
		height: 71px;
	}

	&__repair-right--size {
		top: 0px;
		right: 0;
		width: 45px;
		height: 159px;
	}

	&__repair-left--size {
		top: 0px;
		left: 0;
		width: 45px;
		height: 159px;
	}

	&__price-right--size {
		top: 0px;
		right: 0;
		width: 45px;
		height: 200px;
	}

	&__price-left--size {
		top: 0px;
		left: 0;
		width: 45px;
		height: 200px;
	}
}

@include mixins.xl {
	.veil-gradient {
		display: none;
	}
}
