@font-face {
	font-family: TTLakes;
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url('../../fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
		url('../../fonts/TTLakes/TTLakes-Regular.ttf') format('truetype'),
		url('../../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
		url('../../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype'),
		url('../../fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
		url('../../fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
}
