@use '../abstracts/variables';
@use '../abstracts/mixins';

.icon-base {
	transition: all 0.3s;
	border-radius: 50%;
	transition: all 0.4s;
	filter: drop-shadow(1px 1px 1.5px variables.$color-black);
}

@include mixins.touch-in-use {
	.icon-base {
		&:active {
			transform: scale(0.97);
		}
	}
}

@include mixins.mouse-in-use {
	.icon-base {
		&:hover {
			cursor: pointer;
			transition: all 0.2s;
			transform: scale(1.03);
		}

		&:active {
			transform: scale(0.97);
		}
	}
}
