$color-background: #f8f8f8;
$color-text: #1b1c21;
$color-white: #ffffff;
$color-black: #000000;
$color-pink: #ff3e79;
$color-hard-gray: #7e7e82;
$color-medium-gray: #b5b6bc;
$color-light-gray: #eaeaea;
$color-light-aqua: #b8ffec;
$color-medium-aqua: #d9fff5;
$color-hard-aqua: #41f6d7;

$color-shadow-aside: #0e185033;
$color-shadow-modal: rgba(34, 60, 80, 0.2);

$black-gradient: rgba(248, 248, 248, 0.0001);
