@use '../abstracts/mixins';
@use '../abstracts/variables';

.header {
	height: 88px;
	background-color: variables.$color-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid variables.$color-light-aqua;
}

.header--mg {
	margin-bottom: 24px;
}

@include mixins.xxl {
	.header {
		display: none;
	}
}
