*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	outline: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

@font-face {
	font-family: 'TTLakes';
	src: url('../fonts/TTLakes-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html,
body {
	line-height: 1;
	font-size: 16px;
	min-width: 320px;
	font-family: 'TTLakes';
	color: #1b1c21;
	background-color: #f8f8f8;
}

html {
	scrollbar-gutter: stable;
}

.page-container {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.page-container__veil {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #ffffff;
	z-index: 10;
	opacity: 0.7;
	display: none;
}

.page-container__veil--active {
	display: block;
}

.header {
	height: 88px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid #d9fff5;
}

.container {
	padding: 0 16px;
}

.visually-hidden {
	display: none;
}

.aside-bar,
.modal-call,
.modal-message {
	position: absolute;
	top: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 360px;
	min-height: 676px;
	background-color: #ffffff;
	visibility: hidden;
	transition: all 1s;
}

.aside-bar {
	height: 100%;
	left: 0;
	transform: translate(-500px);
	padding: 16px 24px 32px 24px;
	box-shadow: 16px 0px 52px 0px #0e185033;
}

.modal-call,
.modal-message {
	right: 0;
	transform: translate(500px);
	padding: 24px 16px 75px 16px;
}

.aside-bar--active,
.modal-call--active,
.modal-message--active {
	visibility: visible;
	transform: translate(0);
}

.modal-call__btn-close,
.modal-message__btn-close {
	width: 40px;
	height: 40px;
	transition: all 0.4s;
}

.modal-call__btn-close:hover,
.modal-message__btn-close:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.modal-call__btn-close--mg,
.modal-message__btn-close--mg {
	margin-bottom: 40px;
}

.modal-title--mg {
	margin-left: -17px;
	margin-bottom: 24px;
}

.input-form {
	width: 100%;
	padding: 12px 16px;
	border: 2px solid #eaeaea;
	border-radius: 8px;
	outline: none;
}

.input-form:focus,
.textarea-form:focus {
	border: 2px solid green;
}

.textarea-form {
	width: 100%;
	resize: none;
}

.textarea-form::placeholder,
.input-form::placeholder {
	font-family: TT Lakes;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	margin-bottom: 16px;
}

.modal-privacy-policy {
	font-size: 14px;
}

.modal-privacy-policy--mg {
	margin-bottom: 19px;
}

.modal-privacy-policy-link {
	transition: all 0.4s;
	color: #ff3e79;
	font-size: 14px;
	line-height: 16px;
}

.modal-privacy-policy-link:hover {
	color: #000000;
}

.modal-call,
.modal-message {
	border-left: 1px solid #d9fff5;
	-webkit-box-shadow: -8px 7px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: -8px 7px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: -8px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.textarea-form {
	outline: none;
	border: 2px solid #eaeaea;
	border-radius: 8px;
	height: 118px;
	padding: 12px 16px;
}

.textarea-form--mg {
	margin-bottom: 16px;
}

.input-form--mg {
	margin-bottom: 16px;
}

.submit-form-button-wrap {
	background: transparent;
	display: flex;
	justify-content: flex-end;
}

.submit-form-button-wrap:hover {
	cursor: pointer;
}

.aside-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.aside-menu--mg {
	margin-bottom: 20.78px;
}

.aside-menu__link--mg {
	margin-bottom: 32px;
}

.aside-menu-link {
	display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.aside-menu-link__item {
	position: relative;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	padding-bottom: 24px;
}

.aside-menu-link__item,
.aside-menu__link,
.aside-menu-email,
.aside-menu-tel {
	transition: all 0.4s;
}

.aside-menu-link__item:hover {
	transform: translateY(2px);
}

.aside-menu__link:hover {
	transform: scale(1.04);
}

.aside-menu-email:hover {
	color: #7e7e82;
}

.aside-menu-tel:hover {
	color: #7e7e82;
}

.aside-menu-link__item--active {
	color: #7e7e82;
}

.aside-menu-link__item--active::before {
	content: url('../icons/highlight.svg');
	position: absolute;
	left: -24px;
	top: -5px;
}

.aside-menu-link--mg {
	margin-bottom: 32px;
}

.aside-menu__link-image-logo {
	width: 103.44px;
	height: 54.44px;
}

.aside-menu__link-image {
	width: 40px;
	height: 40px;
}

.aside-menu__link--close {
	margin-right: 7.22px;
}

.aside-menu-wrap {
	display: flex;
	align-items: center;
}

.aside-menu--mg-icon-block {
	margin-bottom: 16px;
	justify-content: inherit;
}

.aside-menu__link--mg-icon {
	margin-right: 16px;
}

.aside-menu-email {
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
}

.aside-menu-email--mg {
	margin-bottom: 16px;
}

.aside-menu-tel {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.6px;
	text-align: left;
}

.aside-menu-tel--mg {
	margin-bottom: 8px;
}

.aside-menu-lang__link {
	color: #1b1c21;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
}

.aside-menu-lang__link--active {
	font-weight: 600;
	color: #7e7e82;
}

.aside-menu-lang__link,
.aside-menu-link__item {
	user-select: none;
}

.header--mg {
	margin-bottom: 24px;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.nav-menu__wrap {
	display: flex;
	align-items: center;
	position: relative;
}

.btn-burger-menu {
	width: 40px;
	height: 40px;
	transition: all 0.4s;
}

.btn-burger-menu:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.btn-burger-menu--mg {
	margin-right: 20px;
}

.header-logo-wrap {
	position: relative;
}

.header-logo {
	display: flex;
	align-items: center;
}

.header-logo__img {
	width: 96.55px;
	height: 50.81px;
	padding-left: 20px;
	padding-right: 20px;
	transition: all 0.4s;
}

.header-logo__img:hover {
	transform: scale(1.04);
}

.line-decor {
	border: 2px solid #eaeaea;
	height: 32px;
	border-radius: 5px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.line-decor--mg {
	position: absolute;
	left: 0;
}

.btn-menu {
	display: flex;
}

.btn-menu--mode {
	display: none;
}

.btn-menu__icon {
	width: 40px;
	height: 40px;
	transition: all 0.4s;
}

.btn-menu__icon:hover {
	transform: scale(1.04);
}

.btn-menu__icon--mg {
	margin-right: 20px;
}

.title {
	display: flex;
	justify-content: flex-start;
	user-select: none;
}

.title--mg {
	margin-bottom: 24px;
}

.title__text {
	font-size: 24px;
	line-height: 40px;
	letter-spacing: -0.6px;
	font-weight: 800;
}

.line {
	border-radius: 0 13px 13px 0;
	width: 4px;
	height: 40px;
	background-color: #41f6d7;
}

.line--mg {
	margin-right: 12px;
}

.title-link-wrap {
	display: none;
}

.slide-list-wrap {
	position: relative;
}

.veil__slide-list--height {
	top: 0;
	right: 0;
	height: 36px;
}

.slide-list {
	display: flex;
	overflow-y: hidden;
}

.slide-list {
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

.slide-list::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.slide-list--mg {
	margin-bottom: 24px;
}

.slide-list__link {
	display: block;
	color: #7e7e82;
	letter-spacing: -0.2px;
	white-space: nowrap;
	padding: 8px 16.54px;
	border: 2px solid transparent;
	transition: all 0.4s;
}

.slide-list__link:hover {
	color: #000000;
}

.slide-list__link--active {
	background-color: #ffffff;
	border-radius: 6px;
	border: 2px solid #b8ffec;
}

.about {
	border-bottom: 1px solid #d9fff5;
	padding-bottom: 24px;
}

.about-text-wrap {
	padding: 0 16px;
}

.about-text-wrap--mg {
	margin-bottom: 32px;
}

.about-text__visible {
	font-size: 14px;
	user-select: none;
}

.about-text__visible--mg {
	margin-bottom: 16px;
}

.about-text__hidden {
	font-size: 14px;
	display: none;
}

.about-text__hidden--mg {
	margin-bottom: 16px;
}

.about-text__hidden--active {
	display: block;
}

.control-wrap {
	width: 100%;
}

.control {
	display: flex;
	height: 24px;
	padding-left: 24px;
}

.about__control {
	padding-left: 0px !important;
}

.control-icon-wrap {
	width: 24px;
	height: 24px;
	position: relative;
}

.control-icon {
	width: 7.41px;
	height: 10.29px;
	background-image: url('../icons/arrow.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.control-icon--mg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.control-name {
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	letter-spacing: -0.2px;
	font-weight: 800;
	transition: all 0.4s;
}

.control-name:hover {
	cursor: pointer;
	color: #7e7e82;
}

.about-image-wrap {
	max-width: 526px;
	margin: 0 auto;
	display: block;
    height: 100%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}
.about-image-wrap::after {
	content: '';
	background-color: #000000;
	opacity: 0.3;
	position: absolute;
	border-radius: 10px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.about-image-wrap__picture {
	width: 100%;
	height: 176px;
}



.subtitle {
	width: 100%;
	text-transform: uppercase;
	padding: 16px;
	letter-spacing: -0.2px;
	background-color: #ffffff;
	color: #7e7e82;
	font-size: 18px;
	line-height: 24px;
	user-select: none;
	background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
}

.services {
	border-bottom: 1px solid #d9fff5;
	padding-bottom: 16px;
	position: relative;
}

.subtitle-services--mg {
	margin-bottom: 16px;
}

.brand-slider {
	height: 100px;
	position: relative;
	overflow: hidden;
	padding-left: 16px;
}

.brand-slider--mg {
	margin-bottom: 16px;
}

.veil {
	position: absolute;
	z-index: 10;
	right: 0;
	width: 24px;
	background: linear-gradient(
		270deg,
		#f8f8f8 16.84%,
		rgba(248, 248, 248, 0.0001) 100%
	);
}

.veil__services--height {
	top: 96px;
	height: 71px;
}

.brand-card-hidden1440 {
	opacity: 0;
	visibility: hidden;
}

.brand-slider .swiper-pagination {
	bottom: 0 !important;
}

.brand-slider .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #b5b6bc;
}

.brand-slider__slide {
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	padding: 16px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand-slider__slide--mg {
	margin-right: 16px;
}

.brand-slider__link {
	width: 40px;
	height: 40px;
	background-image: url('../icons/go.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.4s;
}

.brand-slider__link:hover {
	transform: scale(1.04);
}

.repair {
	border-bottom: 1px solid #d9fff5;
	padding-bottom: 16px;
	position: relative;
}

.veil__repair--height {
	top: 96px;
	height: 159px;
}

.subtitle-repair--mg {
	margin-bottom: 16px;
}

.repair-slider .swiper-pagination {
	bottom: 0 !important;
}

.repair-slider .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #b5b6bc;
}

.repair-slider {
	height: 188px;
	position: relative;
	overflow: hidden;
	padding-left: 16px;
}

.repair-slider__slide {
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	padding: 16px;
	height: 160px;
	margin-right: 16px;
}

.repair-group__hidden--active {
	display: flex;
}

.repair-card-desktop-container {
	display: none;
}

.brand-card-desktop-container {
	display: none;
}

.repair-card {
	position: relative;
	height: 100%;
}

.repair-card__title {
	font-weight: 600;
	user-select: none;
}

.repair-card__link {
	width: 40px;
	height: 40px;
	background-image: url('../icons/go.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	bottom: 0;
	right: 0;
	transition: all 0.4s;
}

.repair-card__link:hover {
	transform: scale(1.04);
}

.price {
	display: flex;
	flex-direction: column;
	position: relative;
}

.veil__price--height {
	top: 72px;
	height: 200px;
}

.price--mg {
	margin-bottom: 6px;
}

.subtitle-price--mg {
	margin-bottom: 16px;
}

.price-slider .swiper-pagination {
	bottom: 0 !important;
}

.price-slider .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #b5b6bc;
}

.price-slider {
	position: relative;
	overflow: hidden;
	padding-left: 16px;
	height: 229px;
}

.price-slider__slide {
	height: 200px;
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	padding: 16px;
}

.price-slider__slide--mg {
	margin-right: 16px;
}

.price-slider__wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.price-slider__title {
	font-weight: 600;
	line-height: 16px;
}

.price-slider__title--mg {
	margin-bottom: 4px;
}

.price-slider__text {
	font-size: 14px;
	line-height: 18px;
	color: #1b1c21;
}

.price-slider__text--mg {
	margin-bottom: 16px;
}

.order-button,
.submit-form-button {
	width: 119px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	color: #ffffff;
	background-color: #ff3e79;
	letter-spacing: -0.15px;
	border-radius: 16px;
	transition: all 0.4s;
	box-shadow: 0px 0px 15px 7px rgba(34, 60, 80, 0.2);
}

.order-button:hover,
.submit-form-button:hover {
	transform: scale(0.98);
}

.order-button--position {
	position: absolute;
	bottom: 0;
	right: 0;
}

.price-desktop-wrap {
	display: none;
}

.conditions {
	border-bottom: 1px solid #d9fff5;
	padding-bottom: 40px;
}

.conditions__text {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	user-select: none;
}

.conditions__text--mg {
	margin-bottom: 16px;
}

.conditions-link {
	display: block;
	position: relative;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.2px;
	transition: all 0.4s;
	max-width: 192px;
}

.conditions-link:hover {
	color: #7e7e82;
}

.conditions-link__arrow-image {
	display: block;
	width: 24px;
	height: 27.49px;
	background-image: url('../icons/line-arrow.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	left: 100px;
	bottom: -3px;
}

.footer {
	padding-top: 16px;
}

.footer-company-info {
	display: flex;
	flex-direction: column;
	user-select: none;
}

.footer-company-info__year,
.footer-company-info__text,
.footer__privacy-policy,
.footer__privacy-policy-text {
	font-size: 14px;
	line-height: 16px;
	color: #7e7e82;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__privacy-policy {
	display: flex;
	transition: all 0.4s;
}

.footer__privacy-policy:hover {
	color: #000000;
}

.footer__privacy-policy-text {
	padding-bottom: 19px;
	text-align: center;
	user-select: none;
}

.footer__company-text--mg,
.footer__privacy-policy--mg {
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	main {
		width: 768px;
	}

	.content-container {
		display: flex;
		justify-content: center;
	}

	.aside-bar,
	.modal-call,
	.modal-message {
		min-width: 320px;
	}

	.container {
		padding: 0 24px;
	}

	.subtitle {
		max-width: 100%;
		padding-left: 24px;
	}

	.nav-menu {
		justify-content: space-between;
	}

	.btn-burger-menu--mg {
		margin-right: 0px;
	}

	.line-decor--mg {
		left: auto;
		right: 0;
	}

	.conditions-link {
		max-width: 316px;
	}

	.btn-menu--mode {
		display: flex;
		margin-right: 20px;
	}

	.title__text {
		font-size: 28px;
	}

	.line--mg {
		margin-right: 20px;
	}

	.slide-list--mg {
		margin-bottom: 32px;
	}

	.veil {
		display: none;
	}

	.services {
		padding-bottom: 31px;
	}

	.about {
		display: flex;
		padding-bottom: 35px;
	}

	.about-text-wrap {
		padding: 0;
		width: 50%;
	}

	.about-text__visible--mg {
		margin-bottom: 25px;
	}

	.about-text-wrap--mg {
		margin-right: 48px;
		margin-bottom: 0;
	}

	.about-image-wrap__picture {
		height: 208px;
	}

	.subtitle-services--mg,
	.subtitle-repair--mg {
		margin-bottom: 24px;
	}

	.subtitle-price--mg {
		margin-bottom: 31px;
	}

	.repair-slider__slide {
		background-color: #ffffff;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		padding: 16px;
		width: 240px;
		height: 160px;
	}

	.repair-card {
		width: 224px;
		height: 160px;
		background-color: #ffffff;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		padding: 16px;
	}

	.repair {
		padding-bottom: 31px;
	}

	.repair-card__title {
	}

	.repair-card__link {
		bottom: 16px;
		right: 16px;
	}

	.brand-slider,
	.repair-slider,
	.price-slider {
		display: none;
	}

	.conditions {
		padding-bottom: 47px;
	}

	.conditions__text {
		max-width: 421px;
	}

	.conditions-link {
		font-size: 16px;
	}

	.conditions-link__arrow-image {
		left: 289px;
		bottom: -2px;
	}

	.price-desktop-wrap {
		display: block;
	}

	.price-desktop-wrap--mg {
		margin-bottom: 24px;
	}

	.price-desktop-title {
		display: grid;
		grid-template-columns: 372px 96px 101px;
		padding: 0 16px;
	}

	.price-desktop-title--mg {
		margin-bottom: 16px;
	}

	.price-desktop-title__text {
		font-size: 14px;
		line-height: 16px;
		opacity: 72.18%;
		user-select: none;
	}

	.price-desktop-list {
		display: grid;
		grid-template-columns: 372px 96px 101px 119px;
		grid-template-rows: 64px 64px 64px 64px 64px;
		background-color: #ffffff;
		border-radius: 6px;
		padding: 0 16px;
		box-shadow: 0px 0px 15px 7px rgba(34, 60, 80, 0.2);
	}

	.price-desktop-list__wrap {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eaeaea;
	}

	.price-desktop-list__wrap--no-border {
		border: none;
	}

	.price-desktop-list__item-text {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.2px;
		user-select: none;
	}

	.footer {
		display: flex;
		justify-content: space-between;
		padding-top: 32px;
		padding-bottom: 25px;
	}

	.footer-company-info {
		width: 218px;
	}

	.footer-company-info__year {
		align-items: flex-start;
	}

	.footer__company-text--mg,
	.footer__privacy-policy--mg {
		margin-bottom: 0;
	}

	.footer__privacy-policy-text {
		padding-bottom: 0;
		text-align: end;
	}

	.footer__privacy-policy {
		width: 214px;
	}

	.footer__privacy-policy-text {
		width: 213px;
	}
}

@media (min-width: 1440px) {
	main {
		width: 1120px;
	}

	.container {
		padding: 33.08px 34px 0 34px;
	}

	.modal-call__btn-close--mg,
	.modal-message__btn-close--mg {
		margin-top: 16px;
		margin-bottom: 0px;
		margin-left: -90px;
	}

	.modal-title--mg {
		margin-top: -38px;
	}

	.aside-bar {
		width: 306px;
		padding: 33.08px 29px 0 22px;
		position: static;
		visibility: visible;
		box-shadow: none;
		transform: inherit;
	}

	.modal-call,
	.modal-message {
		max-width: 420px;
	}

	.aside-menu {
		margin-bottom: 37px;
	}

	.aside-menu-link {
		row-gap: 28px;
	}

	.aside-menu-link--mg {
		margin-bottom: 241px;
	}

	.aside-menu__link--close {
		display: none;
	}

	.aside-menu--mg-icon-block {
		margin-bottom: 16.5px;
	}

	.aside-menu-tel--mg {
		margin-bottom: 40.8px;
	}

	.aside-menu-email--mg {
		margin-bottom: 12.5px;
	}

	.title--mg {
		padding-top: 42px;
	}

	.title__text--mg {
		margin-right: 449px;
	}

	.title-link-wrap {
		display: flex;
	}

	.title-link__icons {
		display: flex;
		align-items: center;
	}

	.title-link__icons--mg {
		margin-right: 32px;
	}

	.title-link__icons-link {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		transition: all 0.4s;
		color: #1b1c21;
	}

	.title-link__icons-link:hover {
		color: #7e7e82;
	}

	.title-link__icons-icon {
		width: 40px;
		height: 40px;
		padding-left: 8px;
		transition: all 0.4s;
	}

	.title-link__icons-icon:hover {
		transform: scale(1.04);
	}

	.header {
		display: none;
	}

	.subtitle {
		padding-left: 32px;
	}

	.line {
		margin-right: 30px;
		width: 3px;
	}

	.control {
		padding-left: 32px;
	}

	.slide-list {
		flex-wrap: wrap;
	}

	.slide-list--mg {
		margin-bottom: 16.22px;
	}

	.services {
		padding-bottom: 49px;
	}

	.about {
		padding-bottom: 51px;
	}

	.about-image-wrap__picture {
		max-width: 531px;
		height: 307px;
	}

	.about-text-wrap {
		max-width: 490px;
	}

	.about-text-wrap--mg {
		margin-right: 36px;
	}

	.about-text__hidden--mg {
		margin-bottom: 13.78px;
	}

	.about-text__hidden--mg {
		margin-bottom: 13.78px;
	}

	.conditions {
		padding-bottom: 50px;
	}

	.repair {
		padding-bottom: 49px;
	}

	.repair-card {
		width: 240px;
	}

	.repair-card--mg {
		margin-right: 32px;
	}

	.price-desktop-title {
		grid-template-columns: 470px 227px 192px;
	}

	.price-desktop-list {
		grid-template-columns: 470px 227px 192px 119px;
		padding: 0 24px;
	}

	.footer__privacy-policy-text {
		padding-bottom: 21px;
	}

	.footer {
		padding-bottom: 21px;
	}

	.footer__privacy-policy-text {
		width: 330px;
	}
}

.repair-card-desktop-container {
	align-items: flex-start;
	flex-direction: column;
}
.repair-card-desktop-wrap {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	height: 160px;
	overflow: hidden;
	transition: all 0.1s;
}

.repair-card-desktop-wrap--mg {
	margin: 0 -6px 12px -6px;
}

.repairCardWrap--active {
	height: 100%;
	overflow: visible;
}

.repair-card-desktop {
	height: 160px;
}

.repair-card-desktop--mg {
	margin: 0 12px 12px 12px;
}

.repair-card-hidden768,
.repair-card-hidden1440 {
	opacity: 0;
	visibility: hidden;
}

.repair-card-hidden1440 {
	display: none;
}

@media (min-width: 768px) {
	.repair-card-desktop-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.repair-card-desktop {
		width: calc(33.074% - 30px);
	}
}

@media (min-width: 1440px) {
	.repair-card-desktop {
		width: calc((86.79% - 12px) / 4);
	}

	.repair-card-hidden1440 {
		display: block;
	}
}

.brand-card-desktop-container {
	align-items: flex-start;
	flex-direction: column;
}
.brand-card-desktop-wrap {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	height: 160px;
	overflow: hidden;
}

.brand-card-desktop-wrap--mg {
	margin: 0 -6px 12px -6px;
}

.brandCardWrap--active {
	height: 100%;
	overflow: visible;
}

.brand-card-desktop {
	background-color: #ffffff;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	padding: 20px 16px;
	width: 224px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand-card-desktop--mg {
	margin: 0 12px 16px 12px;
}

.brand-card-hidden768,
.brand-card-hidden1440 {
	opacity: 0;
	visibility: hidden;
}

.brand-card-hidden1440 {
	display: none;
}

@media (min-width: 768px) {
	.brand-card-desktop-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.brand-card-desktop {
		width: calc(33.074% - 30px);
	}
}

@media (min-width: 1440px) {
	.brand-card-desktop {
		width: calc((86.79% - 12px) / 4);
	}

	.brand-card-hidden1440 {
		display: block;
	}
}
