@use '../../abstracts/variables';

.btn-call {
	width: 40px;
	height: 40px;
	background: transparent;
	transition: all 0.4s;
	filter: drop-shadow(1px 1px 3px variables.$color-black);
	&:hover {
		cursor: pointer;
		transform: scale(1.04);
	}
}
