@use '../../abstracts/variables';

.btn-order {
	width: 119px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	color: variables.$color-white;
	background-color: variables.$color-pink;
	letter-spacing: -0.15px;
	border-radius: 16px;
	transition: all 0.4s;
	filter: drop-shadow(1px 1px 3px variables.$color-black);
	&:hover {
		transform: scale(0.98);
	}
}

.btn-order--position {
	position: absolute;
	bottom: 0;
	right: 0;
}
