@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.btn-control-visible-wrap {
	width: 100%;
}

.btn-control-visible {
	display: flex;
	align-items: center;
	height: 24px;
	filter: drop-shadow(1px 1px 3px variables.$color-light-gray);
}

.btn-control-visible-icon {
	width: 7.41px;
	height: 10.29px;
	background-image: url('../../../icons/buttons/btn-control-visible/arrow.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.btn-control-visible-icon--mg {
	margin-right: 6px;
}

.btn-control-visible-name {
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	letter-spacing: -0.2px;
	font-weight: 800;
	transition: all 0.4s;
}

@include mixins.mouse-in-use {
	.btn-control-visible-name {
		&:hover {
			cursor: pointer;
			color: variables.$color-hard-gray;
		}
	}
}
