@use '../../abstracts/variables';
@use '../../abstracts/mixins';

.btn-submit-form-wrap {
	background: transparent;
	display: flex;
	justify-content: flex-end;
}

.btn-submit-form {
	width: 119px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	color: variables.$color-white;
	background-color: variables.$color-pink;
	letter-spacing: -0.15px;
	border-radius: 16px;
	transition: all 0.4s;
	filter: drop-shadow(1px 1px 3px variables.$color-black);
}

@include mixins.touch-in-use {
	.btn-submit-form {
		&:active {
			transform: scale(0.97);
		}
	}
}

@include mixins.mouse-in-use {
	.btn-submit-form-wrap {
		&:hover {
			cursor: pointer;
		}
	}

	.btn-submit-form {
		&:hover {
			transform: scale(1.03);
		}

		&:active {
			transform: scale(0.97);
		}
	}
}
