@use '../../../abstracts/variables';
@use '../../../abstracts/mixins';

.conditions {
	border-bottom: 1px solid variables.$color-medium-aqua;
	padding-bottom: 40px;

	&__text {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		user-select: none;
	}

	&__text--mg {
		margin-bottom: 16px;
	}
}

@include mixins.xl {
	.conditions {
		padding-bottom: 47px;

		&__text {
			max-width: 421px;
		}
	}
}

@include mixins.xxl {
	.conditions {
		padding-bottom: 50px;
	}
}
